@import "src/styles/function";
@import "src/styles/mixin";
@import "src/styles/variable";

.container {
  width: 335px;

  .text_confirmation {
    font-size: 14px;
    margin-top: 20px;
  }

  .link_daftar {
    color: $primary-color;
    cursor: pointer;
    font-weight: bold;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    svg {
      cursor: pointer;
    }
  }
}
