$break-small: 480px;
$break-medium: 720px;
$break-large: 960px;
$break-xlarge: 1200px;

$primary-font: "Montserrat", sans-serif;
$secondary-font: "roboto";

$primary-color: #ed3833;
$secondary-color: #7b368f;
$light-green: #e6f6f2;
$dark-green: #64ac10;

$promo-width-sm: 500px;
$promo-width-md: 500px;
$promo-width-lg: 600px;
$promo-width-xl: 631px;

$promo-height-sm: 150px;
$promo-height-md: 150px;
$promo-height-lg: 180px;
$promo-height-xl: 189.3px;

$header-height: 60px;

$sidebar-width-xs: 250px;
$sidebar-width-sm: 250px;
$sidebar-width-md: 250px;
$sidebar-width-lg: 250px;
$sidebar-width-xl: 250px;
