@import "src/styles/variable";
@import "src/styles/mixin";
@import "src/styles/function";

.container {
  position: relative;
  width: 375px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
}
