@import "../../styles/function";
@import "../../styles/mixin";
@import "../../styles/variable";

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;

  .wrapper {
    margin-top: 50px;
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.topNav {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  display: flex;
  width: 330px;
  padding: 0 30px;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  padding-bottom: 10px;
  &.selected {
    border-bottom: 3px solid $primary-color;
  }
  .text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;

    &.tambah {
      margin-top: 0;
    }

    .text {
      font-size: 16px;
      color: #bfbfbf;
      text-decoration: none;
      margin-top: 5px;
      cursor: pointer;

      &.red {
        color: $black;
        font-weight: bold;
      }
    }
  }
}
